{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "iOS 9"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            }
        ]
    ]
}